html {
    background: rgb(245,230,232);
    background: radial-gradient(circle, rgba(245,230,232,1) 51%, rgba(150,122,161,1) 91%, rgba(25,42,81,1) 100%);
}
#head {
    position: absolute;
    top: -150%;
    left: 25%;
}
h3 {
    font-size: 40px;
}
.f1 {
    height: auto;
    width: auto;
    border: 40px solid #192A51;
    border-radius: 50%;
    background-color: #192A51;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    
}
li {
    margin: 10px 20px;
}
input {
    position: static;
    width: 200px;
    top: -10px;
    right: 50%;
}
.f1 > input {
    position: relative;
    color: #192A51;
    
}

.title {
    position: relative;
    top: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex
}

.count {
    position: relative;
    top: 10px;
    text-align: center;
    color: #192A51;
}

body{
    height: 100px;
    position: relative;
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
    color: #192A51;
    border:  5px solid #967AA1;
    border-radius: 50%;
    
}

a {
    position: fixed;
    bottom: 30px;
    left: 10px;
}

button {
    background-color: #D5C6E0;
    color: #192A51;
    position: absolute;
    top: 60px;
    right: 45%;
    
}


svg#one {
	position: absolute;
    top: -500px;
    left: -100px;
	-webkit-transform: translate(50%, 141%);
	transform: translate(50%, 141%);
}
svg#two {
	position: absolute;
    top: 52px;
    left: 90px;
	-webkit-transform: translate(50%, 121%);
	transform: translate(57%, 121%);
}
svg#three {
	position: absolute;
    top: -135px;
    left: 20px;
	-webkit-transform: translate(600%, 250%);
	transform: translate(600%, 250%);
}
.group {
    -webkit-transform: translate(42.5px,42.5px);
    -moz-transform: translate(42.5px,42.5px);
    transform: translate(42.5px, 42.5px);
}
path {
    -webkit-transform: translate(-42.50px,-42.50px);
    -moz-transform: translate(-42.50px,-42.50px);
    transform: translate(-42.50px,-42.50px);
}
.large {
	-webkit-animation: large 2.5s infinite;
	-moz-animation: large 2.5s infinite;
}
.large-2 {
	-webkit-animation: large-2 2.5s infinite;
	-moz-animation: large-2 2.5s infinite;
}
.small {
	-webkit-animation: small 2.5s infinite;
	-moz-animation: small 2.5s infinite;
}
@-webkit-keyframes large {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg) scale(0);
		transform: rotate(0deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(360deg) scale(1.5);
		transform: rotate(360deg) scale(1.5);
	}
}
@-moz-keyframes large {
	0% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(360deg) scale(1.5);
	}
}
@-webkit-keyframes large-2 {
	0% {
		opacity: 0;
		-webkit-transform: rotate(45deg) scale(0);
		transform: rotate(45deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(405deg) scale(1.1);
		transform: rotate(405deg) scale(1.1);
	}
}
@-moz-keyframes large-2 {
	0% {
		opacity: 0;
		transform: rotate(45deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(405deg) scale(1.1);
	}
}
@-webkit-keyframes small {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg) scale(0);
		transform: rotate(0deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(-360deg) scale(1);
		transform: rotate(-360deg) scale(1.5);
	}
}
@-moz-keyframes small {
	0% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(-360deg) scale(1.5);
	}
}